<HEAD>
<TITLE>GAPS Documentation</TITLE>
</HEAD>
<BODY>

<H1>GAPS</H1>

<P>GAPS is a software toolkit for <B><U>G</U></B>eometric <B><U>A</U></B>nalysis of <B><U>P</U></B>rotein <B><U>S</U></B>tructures.</P>

<P>It contains the following four packages ...</P>
<UL>
<LI><A HREF="RNBasics.html">RNBasics</A> - Simple common stuff (e.g., memory allocation, error reporting, dynamic arrays, etc). 
<LI><A HREF="R2Shapes.html">R2Shapes</A> - 2D geometry and images (e.g., points, vectors, lines, images, etc.). 
<LI><A HREF="R3Shapes.html">R3Shapes</A> - 3D geometry (e.g., points, vectors, lines, planes, boxes, etc.). 
<LI><a HREF="R3Graphics.html">R3Graphics</a> - 3D display utilities (e.g., cameras, viewports, grdfs, textures, etc.) 
</UL>

<P>Please view the <A HREF="../README.txt">README</A> file for more information about compiling and linking.</P>

<HR>
<ADDRESS>funk@cs.princeton.edu</ADDRESS>
</BODY>
</HTML>
